mixin button(more)
    a(class="btn btn-warning" href="#") детальніше

-
    let cardInfo = {
        velo: {
            img: "img/bike.png",
            href: "#",
            tour: "Тур на велосипедах",
            currency: "грн*",
            price: "335",
            description: "Подорожуючи  на велосипеді, ви поринете в атмосферу мальовничих гір, чарівнмх краєвидів та шалених пригод."
        },
        island: {
            img: "img/circle.png",
            href: "#",
            tour: "Екскурсія на острів",
            currency: "грн*",
            price: "500",
            description: "Подорож на острів занурить Вас у незабутнні пригоди. Неймовірна краса  у будь-яку пору року."
        },
        order: {
            img: "img/message.png",
            href: "#",
            tour: "Особливе замовлення",
            currency: "грн*",
            price: "250",
            description: "Обираючи цю подорож, Ви самостійно робите її незабутнбою та не схожою на будь-які інші. "
        }
    }

mixin card(oneCard)
    .card.col-12.col-md-6
        figure 
            figcaption 
                p.img
                    img(src=oneCard.img, alt=oneCard.alt)
                p.tour #{oneCard.tour}
                    p.price
                        span #{oneCard.price}
                        span.currency #{oneCard.currency}
                p.description #{oneCard.description}

-
    let cardsInfo = {
        romantic_trip: {
            img: "img/romantic.png",
            href: "#",
            tour: "Романтична подорож на 2",
            currency: "грн.",
            price: "2599",
            description: [
                "Подорож у найромантичніші",
                "куточки світу, занурить вас у",
                "дивовижні пейзажі природи."
            ],
            order: "замовити",
            svg: "img/ellipse.svg"
        },
        bike_tour: {
            img: "img/velo.png",
            href: "#",
            tour: "Велотур",
            currency: "грн.",
            price: "555",
            description: [
                "Бажаєте прокататись з вітерцем, та",
                "ще й з критим краєвидом довкола?",
                "Тоді швидше замовляй велотур!"
            ],
            order: "замовити",
            svg: "img/ellipse.svg"
        },
        island: {
            img: "img/on_island.png",
            href: "#",
            tour: "На острови!",
            currency: "грн.",
            price: "1599",
            description: [
                "Хочеш зануритись у тишу, місце де",
                "не має натовпу, та панує дмка",
                "природа? Тоді вперед за пригодами!"
            ],
            order: "замовити",
            svg: "img/ellipse.svg"
        },
        surfing: {
            img: "img/surfing.png",
            href: "#",
            tour: "Катання на сьорфінгу",
            currency: "грн.",
            price: "999",
            description: [
                "Хочеш отримати екстрим та мега",
                "вражень одночасно? Тоді вперед",
                "ловити хвилі!"
            ],
            order: "замовити",
            svg: "img/ellipse.svg"
        }
    }

mixin cards(oneCard)
    .card.col-12.col-xl-3.col-md-6
        figure 
            figcaption 
                p.img.row
                    img(src=oneCard.img, alt=oneCard.alt)
                .text
                    p.tour #{oneCard.tour}
                    ul.description
                        for item in oneCard.description 
                            li #{item}
                    .row
                        p.price.col
                            span #{oneCard.price}
                            span.currency #{oneCard.currency}
                        .order.col
                            a(href="#").a #{oneCard.order}

-
    let workInfo = {
        hotel: {
            img: "img/folder.png",
            href: "#",
            type: "Графік роботи готелів.",
            currency: "xls",
            Size: "Розмір файла: 10Mb",
            description: [
                "Розклад роботи усіх наших готелів,",
                "можете знайти за цим посиланням.",
                "Та додатково завантажити їх фото."
            ],
            download: "скачати",
            svg: "img/cloud.png"
        },
        food: {
            img: "img/folder.png",
            href: "#",
            type: "Інформація про харчування.",
            currency: "xls",
            Size: "Розмір файла: 10Mb",
            description: [
                "У будь-якому нашому турі включені",
                "сніданки у вартість. Якщо ж",
                "бажаєте замовити додотково, то",
                "ознайомтесь з умовами."
            ],
            download: "скачати",
            svg: "img/cloud.png"
        }
    }

mixin work(oneCard)
    .card.col
        figure 
            figcaption 
                .row
                    p.img.col-2
                        img(src=oneCard.img, alt=oneCard.alt)
                    .col-10
                        .row
                            p.type #{oneCard.type}
                                span.currency #{oneCard.currency}
                                span.size.row #{oneCard.Size}
                ul.description.row
                    for item in oneCard.description 
                        li #{item}
                .download
                    img(src=oneCard.svg, alt=oneCard.alt)
                    a(href="#").a #{oneCard.download}
